/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  position: fixed;
  background: #008036;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 2;
  letter-spacing: 2px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #ffffff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#topbar .contact-info i {
  color: #ffffff;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: #ffffff;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

.slider-swiper-pagination {
  position: absolute;
  z-index: 3;
}

.slider-item {
  cursor: pointer;
  transition: 0.3s;
}
